header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    
}
#nav {
    display: flex;
}


.navbutton {
    padding: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin: 20px;
    border-radius: 5px;
}

body> header> nav> ul {
    list-style: none;
    text-decoration: none;
}

#side {
    background-color: #29524A;
    color: white;
}

#side> nav> ul {
    list-style: none;
    text-decoration: none;
}

#side> nav> ul > li {
    padding: 0;
    width: 100px;
}

#side> nav> ul > li > a {
    text-decoration: none;
    color: black;
    color: white;
    width: 3000px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
}

#side >nav >form {
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 10px;
    width: 150px;
}

body> div {
    display: flex;
}

#product1 {
    grid-area: prod1;
    padding: 20px;
}
#product2 {
    grid-area: prod2;
    padding: 20px;
}
#product3 {
    grid-area: prod3;
    padding: 20px;
}
#product4 {
    grid-area: prod4;
    padding: 20px;
}
#product5 {
    grid-area: prod5;
    padding: 20px;
}
#product6 {
    grid-area: prod6;
    padding: 20px;
}
#product7 {
    grid-area: prod7;
    padding: 20px;
}
#product8 {
    grid-area: prod8;
    padding: 20px;
}

#main > article {
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
    margin: 10px;
    background-color: #d4d5d4;
    text-align: center;
}

#main> article > a{
    text-decoration: none;
    color: black;
}
#main {
    display: grid;
    grid-template-areas: 
    "prod1 prod2 prod3"
    "prod4 prod5 prod6"
    "prod7 prod8 prod9"
    ;
    grid-template-columns: 1fr 1fr 1fr;
}




